@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
*{
  box-sizing:border-box;
}
.lettersbuy{
  text-align:center;
  padding:70px;
}
.buy1{
  transition:0.6s;
  position:relative;
  z-index:3;
  color:black;
  font-size:24px;
  cursor:pointer;
  padding-right:10px;
}
.buy2{
  padding-left:60px;
  transition:0.6s;
  position:relative;
  z-index:3;
  color:black;
  font-size:24px;
  cursor:pointer;
}
section .allseeing .active{
  display:none;
}
article .row{
  display:flex;
  width:100%;
}

section.allup{
  display:block;
  width:100%;
  height:100%;
}
.logoo{
  width:44px;
  padding-left:-3px;
  cursor:pointer;
  z-index: 12;
  position:fixed;
}
.div1{
  width:100%;
  padding:0;
  margin:0;
  height:0;
}
.mobile-menu {
  opacity:1;
  display: block;
}
.line2{
  opacity:0;
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 6.4px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.div2{
  width:100%;
  margin:0;
  padding:0;
  height:37px;
  display:block;
  position:relative;
}
.nav-list.active {
transform: translateX(0);
transition: transform 0.2s ease-in;
opacity:1;
overflow:hidden;
}

@keyframes navLinkFade {
from {
  opacity: 1;
  transform: translateX(50px);
}
to {
  opacity: 1;
  transform: translateX(1px);
}
}
.mobile-menu{
  float:right;
  clear:both;
  background:rgb(63, 61, 61);
  height:37px;
}
.mobile-menu div {
  text-align:right;
  z-index:11;
  width: 30px;
  height:2px;
  top:6px;
  background: rgb(221, 221, 221);
  margin: 7px;
  transition: 0.2s;
  overflow:hidden;
}

.line1{
  position:relative;
}
.line3{
  position:relative;
}

/* the most part having seen */   
section.allseeing{
  max-height:1700px;
}
/*EVERYTHING ABOUT NAV BAR */
.nav-list {
  z-index:10;
  position: fixed;
  top:0;
  right: 0;
  font-size:30px;
  width: 100%;
  height: 100%;
  background:rgb(37, 37, 37);
  flex-direction: column;
  justify-content: space-around;
  transform: translateX(100%);
  overflow: hidden;
  transition: transform 0.3s ease-in;
  opacity:1;
}
.nav-list li {
  margin-left: 0;
  opacity: 0;
  width:100%;
  text-align:center;
}
.nav-list a{
  font-family: 'Poppins', sans-serif;
  color:rgb(221, 221, 221);
}
.nav-list a:focus{
  opacity:0.9;
}

.line2{
  opacity:0;
}


.nav-list.active {
transform: translateX(0);
transition: transform 0.2s ease-in;
opacity:1;
}
@keyframes navLinkFade {
  from {
    opacity: 1;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(1px);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 6.9px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
/*FROM STYLE.CSS FIRST 1O */
.nav-list a{
  color:rgb(221, 221, 221);
  font-size:30px;
}

header{
  height:44px; 
  opacity:1;
}
header ul li {
  position: relative;
}
header ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #343A40;
}
header ul li a svg {
  font-size: 23px;
}

.crop{
  z-index:2;
  position:relative;
  height:200vh;
  background:no-repeat center/70% url("../imgs/watch1.jpeg");
  
}
div.cropp img{
  background-size:400px;
  position:relative;
  z-index:2;
  background:rgb(54, 54, 54);
  padding:0;
  margin:0 auto;
}

.firstsay{
  text-align:Center;
  margin-top:120px;
  font-size:30px;
}



/*!
 * Bootstrap v4.5.0 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
:root {
  --blue:#007bff;
  --indigo:#6610f2;
  --purple:#6f42c1;
  --pink:#e83e8c;
  --red:#dc3545;
  --orange:#fd7e14;
  --yellow:#ffc107;
  --green:#28a745;
  --teal:#20c997;
  --cyan:#17a2b8;
  --white:#fff;
  --gray:#6c757d;
  --gray-dark:#343a40;
  --primary:#007bff;
  --secondary:#6c757d;
  --success:#28a745;
  --info:#17a2b8;
  --warning:#ffc107;
  --danger:#dc3545;
  --light:#f8f9fa;
  --dark:#343a40;
  --breakpoint-xs:0;
  --breakpoint-sm:576px;
  --breakpoint-md:768px;
  --breakpoint-lg:992px;
  --breakpoint-xl:1200px;
  --font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}


body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}


abbr[data-original-title], abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}
a:focus{
  color:black;
}



@media (max-width: 2300px) {
  nav {
    font-family: 'Poppins', sans-serif;
    background: rgb(37, 37, 37);
    padding:0;
  }
  
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
  }
}
.container-fluid{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position:fixed;
  z-index:6;
}

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
::placeholder{
  color:rgb(0, 0, 0);
  font-size:20px;
  font-weight:normal;
}
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }



input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
  width: 100%;
}

.fade {
  transition: opacity 0.15s linear;
}

@media (max-width:894px){
  
}

@media (prefers-reduced-motion: reduce) {
  .custom-control-label::before, .custom-file-label, .custom-select {
    transition: none;
  }
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.cp{
  color:rgb(10, 10, 10);
  text-align:Center;
  padding-top:100px;
  padding-bottom:70px;
  margin:0;
  height:100%;
}
/*# sourceMappingURL=style.css.map */
